<html lang="en" ng-app="myworkbench">
<head>
	<title>AngularJS-1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
	<style type="text/css">
		body {
			//padding-top: 60px;
		}
	</style>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js" type="text/javascript"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js" type="text/javascript"></script>
	<script src="../assets/js/html5sql.js" type="application/javascript"></script>
</head>
<body >

<div class="container" ng-controller="appController">
	<h1>AngularJS Testbed</h1>
	<form class="form-inline well ">
		<label>Query : </label>
		<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<input type="text" class="input-xxlarge" ng-model="query">
		<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<button class="btn btn-primary btn-mini" ng-click="run()">Run</button>
	</form>
	<pre>{{message}}</pre>
</div>
  
<script src="ags-1.js" type="text/javascript"></script>

</body>
</html>