html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
	padding-top: 25px;
	padding-bottom: 40px;
}

.center {
	text-align: center;
}

.container .credit {
	margin: 20px 0;
}

