<html lang="en" ng-app="html5sqlConsole">
<head>
	<title>HTML5SQL Console</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
	<link href="assets/css/myworkbench.css" rel="stylesheet"/>
	<!-- 
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" type="text/javascript"></script>
	-->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js" type="text/javascript"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js" type="text/javascript"></script>
	<script src="assets/js/ui-bootstrap-tpls-0.2.0.min.js" type="text/javascript"></script>
	<script src="assets/js/html5sql.js" type="application/javascript"></script>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li class="">
					<a class="brand" href="html5sqlConsole.html">
						<strong>HTML5SQL Console</strong>
					</a>
				</li>
				<li class="divider-vertical"></li>
				<li>
					<a href="html5sqlConsole.html"><i class="icon-home icon-white"></i></a>
				</li>
			</ul>
			<ul class="nav pull-right">
				<li class="divider-vertical"></li>
				<li>
					<a href="about.html">About</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container" ng-controller="html5sqlConsoleController">
	<div class="row-fluid">
  		<b>Query : &nbsp;&nbsp;&nbsp;&nbsp;</b>
  		<textarea class="span10" rows="3" ng-model="html5sqlConsole.query">
		</textarea>
		<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<button class="btn btn-primary" ng-click="run()"><i class="icon-play-circle"></i>&nbsp;&nbsp;Run</button>
	</div>
	<pre ng-model="html5sqlConsole.message">{{html5sqlConsole.message}}</pre>
</div>

<div class="container">
   <p align="center">
	   References : 
	   <a href="http://www.zentut.com/sql-tutorial/sql-cheat-sheet/">SQL Cheatsheet</a>, 
	   <a href="http://sqlite.org/lang.html">SQLite Lang</a>, 
	   <a href="http://html5sql.com/">HTML5SQL</a>
   </p>
   <p align="center">
   		Built using 
	   <a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a>, 
	   <a href="http://angularjs.org/">AngularJS</a>, 
	   <a href="http://angular-ui.github.com/">AugularUI</a>,
	   <a href="http://angular-ui.github.com/bootstrap">AugularUI Bootstrap</a> 
   </p>
</div>
 
<script src="html5sqlConsole.js" type="text/javascript"></script>

</body>
</html>